@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  /* Base theme variables */
  --radius: 0.625rem;
}

/* Dark theme (default) */
:root {
  --background: 222, 45%, 10%;    /* #191818 in HSL */
  --foreground: 0 0% 100%;   /* #FFFFFF in HSL */
  --accent: 204, 59%, 43%;     /* #4E8242 in HSL */
  --inputBox:0, 2%, 10%;       /* #191818 in HSL */
  --border:108, 27%, 18%;        /* Dark mode border */
  --secondaryColor: 354, 31%, 47%; /* #9D5259 in HSL */
  color-scheme: dark;
}



@layer base {
  html,
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    transition: background-color 0.3s, color 0.3s;
  }

  body {
    @apply min-h-screen;
  }

  * {
    border-color: hsl(var(--border));
  }
}

@layer components {
  .btn-accent {
    @apply bg-[hsl(var(--accent))] text-white;
  }
}

/* Animations */
@keyframes spinSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes floatDiagonal {
  0%, 100% { transform: translate(-50%, -50%); }
  50% { transform: translate(-50%, -60%); }
}

.animate-spinSlow {
  animation: spinSlow 20s linear infinite;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-floatDiagonal {
  animation: floatDiagonal 8s ease-in-out infinite;
}